@import '~antd/dist/antd.css';
h2 {
    text-align: center;
}

.main {
    margin: 50px;

}

.header,
.footer{
    background-color: gray;
    height: auto;
    padding: 10px;
}

.content {
    padding: 20px;
}

.button {
    margin: 5px;
    padding: 5px;
}